.works-slide.swiper-slide-active > .works_slide-inner > .works_slide-grow {
	width: 100%;
	height: 100%;
}

.works-slide.swiper-slide-active
	> .works_slide-inner
	> .works_slide-grow
	> .works_background-block {
	opacity: 1;
}

.works-slide.swiper-slide-active
	> .works_slide-inner
	> .works_slide-grow
	> .text-size-large {
	font-size: 2.5rem;
	line-height: 120%; /* 3rem */
}

.works-slide.swiper-slide-active
	> .works_slide-inner
	> .works_slide-grow.is-brand-page
	> .works_slide-inner_flex
	> .text-size-large {
	font-size: 2.5rem;
	line-height: 120%; /* 3rem */
}

.works-slide.swiper-slide-active
	> .works_slide-inner
	> .works_slide-grow
	> .text-size-large
	> .works_slide-text-lora {
	font-family: Lora;
	font-size: 2.75rem;
	font-style: italic;
	font-weight: 400;
	line-height: 110%;
}

.works-slide.swiper-slide-active
	> .works_slide-inner
	> .works_slide-grow.is-brand-page
	> .works_slide-inner_flex
	> .text-size-large
	> .works_slide-text-lora {
	font-family: Lora;
	font-size: 2.75rem;
	font-style: italic;
	font-weight: 400;
	line-height: 110%;
}

.works-slide.swiper-slide-active
	> .works_slide-inner
	> .works_slide-grow.is-brand-page
	> .works_slide-inner_flex
	> .works_slide-number_top {
	font-size: 2.75rem;
}

.works-slide.swiper-slide-active
	> .works_slide-inner
	> .works_slide-grow.is-brand-page
	> .text-size-regular {
	font-size: 1.375rem;
}

.works-slide.swiper-slide-active
	> .works_slide-inner
	> .works_slide-grow.is-2
	> .works_slide-number {
	color: white;
}

.works-slide.swiper-slide-active
	> .works_slide-inner
	> .works_slide-grow.is-brand-page.is-4
	> .works_slide-inner_flex {
	color: #ff4338;
}

.works-slide.swiper-slide-active
	> .works_slide-inner
	> .works_slide-grow.is-brand-page.is-5
	> .works_slide-inner_flex {
	color: #1f22aa;
}

.works-slide.swiper-slide-active
	> .works_slide-inner
	> .works_slide-grow.is-brand-page.is-4
	> .text-size-regular {
	color: white;
}

.works-slide.swiper-slide-active
	> .works_slide-inner
	> .works_slide-grow.is-brand-page.is-5
	> .text-size-regular {
	color: white;
}

@media screen and (max-width: 768px) {
	.works-slide.swiper-slide-active
		> .works_slide-inner
		> .works_slide-grow
		> .text-size-large {
		font-size: 1.5rem;
	}

	.works-slide.swiper-slide-active
		> .works_slide-inner
		> .works_slide-grow
		> .text-size-large
		> .works_slide-text-lora {
		font-size: 1.75rem;
	}

	.works-slide.swiper-slide-active
		> .works_slide-inner
		> .works_slide-grow.is-brand-page
		> .works_slide-inner_flex
		> .text-size-large {
		font-size: 1.5rem;
	}

	.works-slide.swiper-slide-active
		> .works_slide-inner
		> .works_slide-grow.is-brand-page
		> .works_slide-inner_flex
		> .text-size-large
		> .works_slide-text-lora {
		font-size: 1.75rem;
	}

	.works-slide.swiper-slide-active
		> .works_slide-inner
		> .works_slide-grow.is-brand-page
		> .works_slide-inner_flex
		> .works_slide-number_top {
		font-size: 1.75rem;
	}

	.works-slide.swiper-slide-active
		> .works_slide-inner
		> .works_slide-grow.is-brand-page
		> .text-size-regular {
		font-size: 0.875rem;
	}
}

.works_gallery_pagination > .swiper-pagination-bullet {
	margin: 0px 0px !important;
	width: 66px;
	height: 6px;
	border-radius: 2px;
	background-color: #f6ced4;
	opacity: 0.34;
	transition: all 500ms ease-in-out;
}

.works_gallery_pagination > .swiper-pagination-bullet-active {
	opacity: 1;
	background-color: #ff4538;
}

.test_slider-button.swiper-button-disabled {
	opacity: 0;
	pointer-events: none;
}
